<style scoped>

.circle {
	background-color: rgba(204, 0, 102, 0);
	border: 5px solid #fff;
	height: 40px;
	width: 40px;
	border-radius:25px;
	-webkit-border-radius: 25px;
	text-align: center;
	float: left;
	margin-top: 10px;
}

.logo-cross {
	font-family: 'Helvetica Neue' Helvetica Arial sans-serif;
	font-weight: 900;
	font-size: 40px;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	color: #EF5A5B;
	height: 65px;
	padding-top: 0;
	margin: -100px;
}

.logo-font {
	font-family: 'Helvetica Neue' Helvetica Arial sans-serif;
	font-weight: 100;
	font-size: 250%;
	display: inline-block;
	color:#fff;
}

.logo-thin {
	font-weight: 100;
	margin-bottom: -10px;
}

.logo-blue {
	font-weight: 900;
	color: #3FA9F5;
	text-transform: uppercase;
}

.logo-thick {
	font-weight: 600;
	margin: -12px;
}


</style>

<div class="left" style="display: block;">
<div class="circle"><span class="logo-cross">+</span></div>

<a href="http://thedesignclinic.org/">
<span class="logo-font">
<span class="logo-blue">design</span>
<span class="logo-thick">clinic</span>
</span>
</a>
</div>
